.container {
    position: relative;    
    color: white;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Londrina Shadow', cursive;
    font-weight: bold;
  }
.namecentered {
    position: absolute;
    text-align:center;
    top: 0%;
    left: 20%;
    right:20%;
    bottom: 20%;
    padding-top: 30px;
  }

  .dispImage{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    /* color: red; */
    /* background-color: aqua; */
    /* background-color: lightyellow; */
}
